<div style="padding: 20px;">
  <h1 style="color: blue">{{title}}</h1>
  <h3>{{description}}</h3>
  <nav>
    <a routerLink="monhocs" class="btn btn-primary active" role="button" routerLinkActive="active">Danh sách môn học  </a>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active"> Thêm môn học </a>
    <a routerLink="findbyid" class="btn btn-primary active" role="button" routerLinkActive="active"> Tìm kiếm môn học </a>
    <a routerLink="sinhviens" class="btn btn-primary active" role="button" routerLinkActive="active"> Danh sách sinh viên </a>
    <a routerLink="addsinhvien" class="btn btn-primary active" role="button" routerLinkActive="active"> Thêm sinh viên </a>
    <a routerLink="findbyidsv" class="btn btn-primary active" role="button" routerLinkActive="active"> tìm kiếm sinh viên </a>
  </nav>
  <router-outlet></router-outlet>