<h3>Tìm kiếm môn học theo id</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="lastname">id môn học</label>
      <input type="text" class="form-control" id="id" required [(ngModel)]="id" name="id">
    </div>
 
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<ul [hidden] = "submitted">
  <li>
    <h4  *ngIf="monHoc;then content else notcontent"></h4><ng-template #content>{{monHoc.id}} - Tên môn: {{monHoc.tenMH}} - số trình  {{monHoc.soTrinh}}</ng-template><ng-template #notcontent>Không có môn học nào có id là :{{id}}</ng-template>
  </li>
</ul>