  <h3>Đăng ký môn học cho sinh viên:{{sinhVien.tenSV}}</h3>
  <h5>Các môn sinh viên đã đăng ký</h5>
  <form (ngSubmit)="onSubmit()">
   
    <div class="form-group">
     
     <div *ngIf="monHoc.id"> Thông tin môn học Đã chọn tên môn học:{{ monHoc.tenMH }}<p></p>Số  trình:{{ monHoc.soTrinh }}<p></p>
     </div>
      <label for="monhoc">Môn học</label>
      <select [(ngModel)] = "monHoc" name="monhoc">
          <option [ngValue]="monHoc" *ngFor="let monHoc of monHocs | async">
            {{monHoc.tenMH}}
          </option>

      </select>
      </div>
  <input type="submit" value="submit"/>  
  </form>
  <table class="table table-striped">
      <tr>
          <th scope="col" class="center">
              tên môn học
          </th>
          <th scope="col" class="center" >
              số  trình
          </th>  
          <th scope="col" class="center" >
                Tác vụ
            </th>  
      </tr>
      <tr *ngFor ="let monHoc of sinhVien.monHocs">
          <th scope="row"class="center">
            {{ monHoc.tenMH }}
          </th>
          <th scope="row"class="center">
            {{monHoc.soTrinh}}
          </th>
          <th scope="row"class="center"> 
          <span class="btn btn-danger" (click)= "deleteDangkyMonHoc(sinhVien.id,monHoc.id)"> Xóa </span>
          <span class="btn btn-info" (click)= "editDangkyMonHoc(sinhVien.id)"> Sửa </span>
        </th>
      </tr>

  </table>
  
 
 