<div *ngIf="sinhVien.id;then content else other_content">here is ignored</div>    
<ng-template #content><h2>Sửa thông tin sinh viên</h2></ng-template>
<ng-template #other_content><h2>Thêm sinh viên mới</h2></ng-template>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Tên Sinh Viên</label>
      <input type="text" class="form-control" id="tenSV" required [(ngModel)]="sinhVien.tenSV" name="tenSV">
    </div>
 
    <div class="form-group">
      <label for="name">Giới tính</label>
      <select [(ngModel)] ="sinhVien.gioiTinh" name="gioiTinh">
          <option value="Nam">Nam</option>
          <option value="Nữ">Nữ</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Que quán</label>
      <input type="text" class="form-control" id="queQuan" required [(ngModel)]="sinhVien.queQuan" name="queQuan">
    </div>
    <div class="form-group">
      <label for="name">Ngày sinh</label>
      <input type="date" class="form-control" id="ngaySinh" required [(ngModel)]="sinhVien.ngaySinh" name="ngaySinh">
    </div>
    <div class="form-group">
      <label for="name">Lớp</label>
      <input type="text" class="form-control" id="queQuan" required [(ngModel)]="sinhVien.lop" name="Lớp">
    </div>
 
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newCustomer()">Add</button>
</div>